
var formatMoney = function(s){
  s = parseFloat((s + "").replace(getRegExp('[^\d\.-]', "g"))).toFixed(2) + "";
  var l = s.split(".")[0].split("").reverse(), r = s.split(".")[1];
  t = "";
  for (i = 0; i < l.length; i++) {
    t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
  }
  return t.split("").reverse().join("") + "." + r; 
}

var min = function(x, y){
  return Math.min(x, y)
}


module.exports = {
  formatMoney: formatMoney,
  min: min
};